body{
    background-color: #64CCC5; ;
}
.pirmais{
    background-color: #DAFFFB;
}
.otrais {
    font-family: 'Pacifico', cursive;
    font-family: 'Kalam', cursive;
    background-color: #64CCC5;
}

.otraiss {
    font-family: 'Pacifico', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}